body {
  //   background-color: beige;
  background-image: url('https://sanremo.imgix.net/2017/05/San-Remo-Top-Ten-JAB_7739-1498x1000.jpg?auto=format&w=2000');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#content {
  background-image: url('./assets/bkcode6.jpg');
  //   position: absolute;
}
